<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title tiles:fragment="title">Messages : Create</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{'/css/bootstrap.min.css'}" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{'/js/bootstrap.min.js'}"></script>
</head>
<body>


<div class="container">

    <div th:class="jumbotron">
        <h1>Courses</h1>
    </div>

    <a th:href="@{/admin/course/add}">Add new course</a>
        <br/>
       <!-- <div sec:authorize="isAuthenticated() and hasRole('ROLE_ADMIN')" class="form-group"> -->
            <div class="col-sm-10">
                <ul th:each="currentCourse : ${courses}">
                    <li>
                        <h2><a th:href="@{'/lecturer/course/'+${currentCourse.id}+'/list'}" ><span th:text="${currentCourse.title}"></span></a></h2>
                    </li>
                </ul>
            </div>
      <!--  </div> -->
</div>
</body>
</html>