<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:substituteby="fragments/admin-main :: head">

</head>

<body>


<div id="wrapper">

    <div th:replace="fragments/admin-main :: main">
    </div>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Blank</h1>
                    <div th:fragment="logout" class="logout"
                         sec:authorize="isAuthenticated()">
                        Welcome: <span sec:authentication="name">Bob</span> |
                        Roles: <span sec:authentication="principal.authorities">[ROLE_USER, ROLE_ADMIN]</span> |
                        <!--/* When using CSRF this needs to be a POST */-->
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->


    <!--  </div> -->
</div>

<th:block th:substituteby="fragments/admin-main :: foot"></th:block>

</body>
</html>