<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:substituteby="fragments/admin-main :: head">

</head>

<body>


<div id="wrapper">

    <div th:replace="fragments/admin-main :: main">
    </div>

    <!-- Page Content -->
    <div id="page-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header"> Welcome<span th:fragment="logout" class="logout"
                         sec:authorize="isAuthenticated()">: <span sec:authentication="name">Bob</span> |
                            Roles: <span sec:authentication="principal.authorities">[ROLE_USER]</span>


                        <!--/* When using CSRF this needs to be a POST */-->
                    </span>
                    </h1>
                    <div class="well">
                        <h3>This is first page content <br/>
                            Here maybe some news here.
                        </h3>
                    </div>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /.container-fluid -->
    </div>
    <!-- /#page-wrapper -->


    <!--  </div> -->
</div>

<th:block th:substituteby="fragments/admin-main :: foot"></th:block>

</body>
</html>