<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:tiles="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{'/css/bootstrap.min.css'}"/>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            th:src="@{'/js/bootstrap.min.js'}"></script>
</head>
<body>


<div th:if="${success}">
    <h2 th:text="${success}"/>
</div>

<div th:if="${error}">
    <h2 th:text="${error}"/>
</div>

<div class="container">

    <div th:class="jumbotron">
        <h1 th:text="${courseTitle}">Course title</h1>
    </div>


    <a th:href="@{'/lecturer/course/'+${courseId}+'/add'}">Add post</a>

    <div th:each="post : ${posts}">
        <h3 th:text="${post.title}"></h3>
        <p th:text="${post.description}"></p>
        <a href="#">Lecture 1</a>
    </div>


</div>
</body>
</html>